# IDE settings
.idea/

# build
__pycache__/
dist/
*.egg-info/

# application conflications
.neurocarto.*.json

# tests output
res/*.png
tests/*.dat
tests/*.png
./*.dat
./*.npy
./*.png

# mypy cache
.mypy_cache/

# coverage output
.coverage
