# IDE settings
.idea/

# build
__pycache__/
dist/
*.egg-info/

# application conflications
.neurocarto.*.json

# tests output
res/*.png

# mypy cache
.mypy_cache/

# coverage output
.coverage

# profile results
tests/*.png
tests/*.dat
